/* html {
  scroll-behavior: smooth;
} */

.background,
.section-text {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

/* 
===============
NAVBAR
===============
*/
.toggle-nav {
  position: fixed;
  top: 5%;
  left: 5%;
  font-size: 2.5rem;
  cursor: pointer;
}
.navbar {
  position: fixed;
  max-width: 20rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 2;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
  /* hide navbar */
  transform: translate(-100%);
  transition: var(--transition-slow);
}
.showNav {
  transform: translate(0);
}
.nav-center {
  text-align: right;
  padding-right: 1rem;
}
.nav-close {
  font-size: 2.5rem;
  cursor: pointer;
  color: #f29c9c;
  transition: var(--transition-slow);
}
.nav-close:hover {
  color: #bb2525;
}
.nav-link {
  display: block;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing);
  color: var(--german-black);
  font-weight: bold;
  transition: var(--transition);
  text-align: left;
}
.nav-link:hover {
  color: var(--german-red);
  padding-left: 1.5rem;
  border-left: 1rem solid var(--german-yellow);
  transition: var(--transition);
}
.logo {
  margin-top: 3rem;
  display: inline-block;
}

/* container images */
.background {
  height: 100vh;
  /* display: grid;
  place-content: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container1-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/images/bierGirls2.jpg);
  background-attachment: fixed;
  margin-top: 0;
}
.container2-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/images/diningRoom2.jpg);
}
.container3-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/images/staffNew2.jpg);
  background-attachment: fixed;
  display: grid;
  place-content: center;
}
.container4-img {
  background-image: url(../images/diningRoom2.png);
}
.container5-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/images/newsPage.png);
}
.container6-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/images/grill.jpg);
}
.container7-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/images/customers.jpg);
}
.container8-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/images/pexels2.jpg);
}
.container10-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/images/impossible.png);
}

/* intro's */
.section-center {
  height: 100vh;
  display: grid;
  place-content: center;
}
.section-text {
  max-width: 768px;
  display: grid;
  place-content: center;
  margin: 0 1rem;
  font-size: 1.5rem;
}
.text {
  font-size: 1.5rem;
}
.text p {
  margin-bottom: 0;
}

/* images of food */
.food-section {
  /* height: 100vh; */
  max-width: 768px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}
.project {
  display: grid;
  place-content: center;
  /* column-gap: 100px; */
}
.project-img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border: 3px black solid;
  border-radius: var(--radius);
  transition: var(--transition-slow);
}
@media screen and (max-width: 320px) {
  .project-img {
    height: 7rem;
    width: 7rem;
    transition: var(--transition-slow);
  }
  .text {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .project-img {
    height: 20rem;
    width: 20rem;
    transition: var(--transition-slow);
  }
}
@media screen and (min-width: 1170px) {
  .food-section {
    max-width: 968px;
    column-gap: 100px;
    transition: var(--transition-slow);
  }
}

/* 
==============
FOOTER
==============
*/
.footer {
  display: grid;
  place-content: center;
  background-color: black;
  display: block;
  color: white;
  overflow: hidden;
}
.info {
  display: grid;
  place-items: center;
  /* max-width: 768px; */
}
.contact-info {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.contact-info p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.fa-directions:hover,
.fa-phone:hover {
  color: var(--german-yellow);
}
a .fa-phone,
a .fa-directions {
  font-style: italic;
  color: white;
  font-size: 0.9rem;
}
.hours,
.hours h4,
.contact-info {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 0.9rem;
}
.hours h4 {
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.icons {
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}
.social-icons a:hover {
  font-size: 2.5rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-yelp {
  color: #c41200;
}
.fa-instagram {
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border-radius: 8px;
}
/* 
===============
NAVBAR
===============
*/
/* .menu-page {
  color: black;
} */
.menu-container {
  max-width: 768px;
  height: 100vh;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: center;
  align-items: center; */
  /* margin: 1rem auto; */
  /* padding-top: 5rem; */
  place-content: center;
}
.menu {
  place-content: center;
  /* max-width: 15rem; */
}
.menu img {
  height: 7rem;
  width: 7rem;
  border-radius: var(--radius);
  border: 3px black solid;
  object-fit: cover;
}
.menu p {
  margin-bottom: 0;
}
.container-staff {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.staff-name h3,
.staff-title h5 {
  margin-bottom: 0;
}
.staff-info {
  display: grid;
  /* place-content: center; */
}
.staff-photo {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  border-radius: var(--radius);
  border: 3px black solid;
}
@media screen and (max-width: 767px) {
  .container-staff {
    grid-template-columns: 1fr;
  }
  .info-staff-right,
  .info-staff-left {
    display: none;
  }
}
